<div ng-controller = "LoginCtrl" id="maindiv">
    <form name = "LoginForm" role="form" ng-submit="signin(username, password)">
        <fieldset>
            <div class="row col-lg-10" >
            <div class="form-group">
                <label for="InUsername">Username :</label>
                <input id="InUsername" placeholder="Type your username here" ng-model = "username" class="form-control input-small">
            </div>
            <div class = "form-group">
                <label for="InPass">Password :</label>
                <input id="InPass" placeholder="Type your password here" type="password" ng-model = "password" class="form-control input-small">
            </div>
            <button class="btn btn-default" type="submit">Login</button>
            </div>
        </fieldset>
    </form>
</div>