<div class="container" ng-controller = "Appcontrol">
    <h1>Component list</h1>
    <table class="table">
        <thead>
        <tr ng-show="hideDiv">
            <label>Search : <input ng-model="searchText"></label>
        </tr>
        <tr>
            <th>Soort</th>
            <th>Waarde</th>
            <th>Aantal</th>
            <th class="hidden-xs">Barcode</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <body>
        <tr>
            <form name = "ComponentForm" role="form" >
            <td>
                <select ng-model="component.Type">
                    <option value="Resistor">Resistor</option>
                    <option value="Condensator">Condensator</option>
                    <option value="Potentiometer">Potentiometer</option>
                    <option value="Arduino">Arduino</option>
                    <option value="Varia">Varia</option>
                </select>
            </td>
                <td><INPUT class = "form-control" ng-model="component.Value"onkeyup="return nospacecs(this); " required></td>
                <td><INPUT type="number" min="1" max="500" class = "form-control" ng-model="component.Quantity" required></td>
                <td class="hidden-xs hidden-sm"></td>
                <td><button class = "btn btn-primary" ng-click="addComponent()">Add {{component.Type}}</button></td>
            </form>
            <td><button class = "btn btn-info" ng-click = "update()">Update</button>&nbsp;&nbsp;<button class = "btn btn-info" ng-click = "deselect()">Clear</button></td>


        </tr>
        <tr ng-repeat = "component in componentList | filter: searchText | orderBy:'Type'" >
            <td>{{component.Type}}</td>
            <td>{{component.Value}}</td>
            <td>{{component.Quantity}}</td>
            <td class="hidden-xs!important"><div id="{{$index}}" ><div id="barcode" barcode-generator="{{converttype(component.Type) + component.Value}}" style="height:100px; text-align: center; width: auto;" ></div><p>{{converttype(component.Type) + component.Value}}</p></div></td>
            <td><button class = "btn btn-danger" ng-click = "remove(component._id)">Remove</button></td>
            <td><button class = "btn btn-warning" ng-click = "edit(component._id)">Edit</button>&nbsp;&nbsp;<button ng-click="downloadbarcode($index)"  class="btn btn-info">Download barcode</button></td>

        </tr>
        </body>
    </table>
</div>