<div ng-controller = "RegisterCtrl" id="maindiv">
    <form name = "RegisterForm" role="form" ng-submit="register()">
        <fieldset>
            <div class="row col-lg-10" >
            <div class="form-group">
                <label for="InStudentId">StudentId :</label>
                <input id="InStudentId" required placeholder="example : s012345" ng-model="user.studentId" class="form-control input small">
            </div>
            <div class="form-group">
                <label for="InLastName">Firstname :</label>
                <input id="InFirstName" required placeholder="Type your firstname here" ng-model = "user.firstname" class="form-control input-small">
            </div>
            <div class="form-group">
                <label for="inlastname">Lastname :</label>
                <input id="InLastName" required placeholder="Type your lastname here" ng-model = "user.lastname" class="form-control input-small">
            </div>
            <div class="form-group">
                <label for="InUsername">Username :</label>
                <input id="InUsername" required placeholder="Type your username here" ng-model = "user.username" class="form-control input-small">
            </div>
            <div class = "form-group">
                <label for="InPass">Password :</label>
                <input id="InPass" required placeholder="Type your password here" type="password" ng-model = "user.password" class="form-control input-small">
            </div>
            <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>
    </form>
</div>