<div class="container" ng-controller = "Appcontrol">
    <h1>Component list</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Soort</th>
            <th>Waarde</th>
            <th>Aantal</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <select ng-model="component.sort">
                    <option value="Resistor">Resistor</option>
                    <option value="Condensator">Condensator</option>
                </select>
            </td>
            <td><INPUT class = "form-control" ng-model="component.value"></td>
            <td><INPUT type="number" min="1" max="500" class = "form-control" ng-model="component.number"></td>
            <td><button class = "btn btn-primary" ng-click = "addComponent()">Add {{component.sort}}</button></td>
            <td><button class = "btn btn-info" ng-click = "update()">Update</button>&nbsp;&nbsp;<button class = "btn btn-info" ng-click = "deselect()">Clear</button></td>

        </tr>
        <tr ng-repeat = "component in componentList">
            <td>{{component.sort}}</td>
            <td>{{component.value}}</td>
            <td>{{component.number}}</td>
            <td><button class = "btn btn-danger" ng-click = "remove(component._id)">Remove</button></td>
            <td><button class = "btn btn-warning" ng-click = "edit(component._id)">Edit</button></td>

        </tr>
        </tbody>
    </table>
</div>